.card {
  margin: 20px;
  border: 1px solid #e6ecf0;
  border-radius: 15px;
  background-color: #f5f8fa;
}

.card-body {
  padding: 20px;
}

.read-more-btn {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #0d8ecf;
}

.save-remove-btns {
  margin-left: 26rem;
}
