.navbar-column {
  display: flex;
  justify-content: center;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-item {
  margin-right: 1rem;
}

.navbar-link {
  text-decoration: none;
  color: #007bff;
}
