.headlines-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headlines-page h1 {
  font-size: 36px;
  color: #1da1f2; /* Twitter blue */
  text-align: left;
  margin: 20px 0;
}

.news-feed-column {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.bg-white {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li + li {
  margin-top: 20px;
}

.article-btns {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.article-btns button {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .bg-white {
    border-radius: 0;
  }
}
